<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | absURL }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap">
{{- if .IsHome }}{{ with site.Params.event }}{{ if .startDate }}
<script type="application/ld+json">
{{- dict
  "@context" "https://schema.org"
  "@type" "Event"
  "name" site.Title
  "description" site.Params.description
  "url" site.BaseURL
  "image" (slice ("images/og.jpg" | absURL))
  "startDate" .startDate
  "endDate" (.endDate | default .startDate)
  "eventStatus" "https://schema.org/EventScheduled"
  "eventAttendanceMode" "https://schema.org/OfflineEventAttendanceMode"
  "location" (dict
    "@type" "Place"
    "name" .venue
    "address" (dict
      "@type" "PostalAddress"
      "addressLocality" .locality
      "addressRegion" .region
      "addressCountry" .country))
  "organizer" (dict
    "@type" "Organization"
    "name" site.Title
    "url" site.BaseURL)
  | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- end }}{{ end }}{{ end }}
